.types
  &__section-title
    margin-bottom: 2rem
  &--section-title
    margin-bottom: 0
    &__light
      color: $light

  &__design
    margin-bottom: -45rem
  
  &__card
    &--card
      position: relative



.types__subtitle
  display: flex
  justify-content: center
  align-items: center  
  margin-top: 1.1rem 
  .subtitle
    margin-bottom: 2.78rem

    &__text
      font-family: 'Futura Book', cursive
      margin-top: 0
      text-align: center
      font-size: 1.42rem
      line-height: 1.92rem
      color: $darken
      max-width: 52.92rem 
      margin-bottom: 0.6rem


.subtitle
  &__text
      &--customers
        width: 25.71rem
        font-family: 'Futura Book', cursive

  

.card
  padding: 1.714rem 1.428rem
  &__text
    position: relative
    max-width: 23.6rem
    margin: 0 auto
    margin-top: -9.3rem
    padding: 1.79rem 2.14rem
    background-color: $light
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03)
  &__title
    margin-top: 0
    font-family: 'Yeseva One', cursive
    font-size: 1.29rem
    margin-bottom: 0.7rem
  &__list
    margin: 0 0 0 1rem
    padding: 0
    font-size: 1.07rem
    line-height: 1.79rem
    color: $secondary
    margin-bottom: 2.5rem
  &__pricetag
    position: absolute
    left: 0
    bottom: -1.79rem
    font-size: 1.29rem
    font-family: 'Yeseva One', cursive
    text-transform: uppercase
    background-color: $primary
    color: $light
    padding: 1.214rem 2.6rem
  &--pricetag
    padding-right: 5.14rem


    
  



 